@import st-import.sass

@mixin breakpoint($point)
	@if $point == pc
		@media only screen  and (max-width: 1600px)
			@content	
	@else if $point == pad
		@media only screen and (max-width: 1024px)
			@content
	@else if $point == pad_s
		@media only screen and (max-width: 768px)
			@content
	@else if $point == mobile/*-- i7 --*/
		@media only screen and (max-width: 736px)
			@content	
	@else if $point == mobile_six/*-- i6 --*/
		@media only screen and (max-width: 670px)
			@content
	@else if $point == mobile_five/*-- i5 --*/
		@media only screen and (min-width: 568px) and (max-width: 568px)
			@content	

body
	+box-sizing()	
	padding: 0
	margin: 0

ul,li
	list-style: none	


.up01
	animation: translate2 1.5s linear infinite alternate
	-webkit-animation: translate2 1.5s linear infinite alternate
	-moz-animation: translate2 1.5s linear infinite alternate
	-ms-animation: translate2 1.5s linear infinite alternate


#warpper	
	position: relative			
	background-image: url("../img/bg.jpg")
	background-size: cover
	background-position: center
	//background-attachment: fixed
	background-repeat: no-repeat
	height: 100vh
	min-width: 1300px
	max-width: 100%


#logo
	position: fixed
	display: block
	top: 22px
	left: 27px
	background-image: url("../img/logo.png")	
	background-size: 100% 
	background-repeat: no-repeat
	max-width: 100%
	width: 235px
	height: 253px
	//+breakpoint(pc)
		//background-image: url("../img/logo_s.png")
		//top: 18px
		//left: 23px
		//background-size: 83% 
		//width: 190px
		//height: 204px
		
#nav
	position: fixed
	display: block
	left: 605px
	top: 17px
	width: 644px
	z-index: 3
	> a
		float: left
		text-indent: -9999em
		background-image: url("../img/nav.png")		
		height: 47px
		//cursor: pointer
		&:hover
			background-image: url("../img/nav_hover.png")

	a.news
		background-position: 0
		width: 187px

	a.introduction
		background-position: -190px 0
		width: 187px		
	a.raiders
		background-position: -370px 0
		width: 187px
	a.question
		background-position: -560px 0
		width: 80px	
				
#slogan
	position: fixed
	display: block
	z-index: 2
	top: 70px
	left: 570px
	background-image: url("../img/slogan.png")	
	background-size: 100% 
	width: 713px
	height: 173px
	background-repeat: no-repeat
	

#video
	position: fixed
	display: block
	z-index: 3
	top: 238px
	left: 520px

.ghost
	position: fixed
	display: block
	left: 1225px
	top: 60px	
	z-index: 4

.pic1
	position: fixed
	display: block
	left: 1255px
	top: 30px	
	z-index: 4
	+breakpoint(pc)
		img
			width: 450px
			height: auto

.pic2
	position: fixed
	display: block
	left: 1475px
	top: -10px	
	z-index: 3	

.pic3
	position: fixed
	display: block
	left: -20px
	top: 180px	
	z-index: 3	

.pic4
	position: fixed
	display: block
	left: 175px
	top: 0	
	z-index: 2			

.pic5
	position: fixed
	display: block
	z-index: 999
	top: 703px
	left: 545px	

				
//#logo
	//position: absolute
	//top: 22px
	//left: 27px
	//display: inline-block
	//width: 100%
	//max-width: 200px
	//height: auto

//#fix
	//display: block
	//max-width: 100%
	//height: auto	
	
		
			
		
		

