@import st-import.sass
*
	&, &:after, &:before
		vertical-align: top/*垂直对齐一幅图像*/
		+box-sizing(border-box)
		+selection(rgba(150, 200, 255, 1), rgba(255, 255, 255, 1))



body
	padding: 0
	margin: 0
	display: inline-block

ul,li
	list-style-type: none

a
	text-decoration: none	


input[type="text"]
	+input-placeholder
		color: #bfbfbf
		font-style: italic		