@charset "UTF-8";
/*字型 */
/*input */
/* line 23, ../sass/public.sass */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 28, ../sass/public.sass */
ul, li {
  list-style: none;
}

/* line 32, ../sass/public.sass */
.up01 {
  animation: translate2 1.5s linear infinite alternate;
  -webkit-animation: translate2 1.5s linear infinite alternate;
  -moz-animation: translate2 1.5s linear infinite alternate;
  -ms-animation: translate2 1.5s linear infinite alternate;
}

/* line 39, ../sass/public.sass */
#warpper {
  position: relative;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 1300px;
  max-width: 100%;
}

/* line 51, ../sass/public.sass */
#logo {
  position: fixed;
  display: block;
  top: 22px;
  left: 27px;
  background-image: url("../img/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 235px;
  height: 253px;
}

/* line 70, ../sass/public.sass */
#nav {
  position: fixed;
  display: block;
  left: 605px;
  top: 17px;
  width: 644px;
  z-index: 3;
}
/* line 77, ../sass/public.sass */
#nav > a {
  float: left;
  text-indent: -9999em;
  background-image: url("../img/nav.png");
  height: 47px;
}
/* line 83, ../sass/public.sass */
#nav > a:hover {
  background-image: url("../img/nav_hover.png");
}
/* line 86, ../sass/public.sass */
#nav a.news {
  background-position: 0;
  width: 187px;
}
/* line 90, ../sass/public.sass */
#nav a.introduction {
  background-position: -190px 0;
  width: 187px;
}
/* line 93, ../sass/public.sass */
#nav a.raiders {
  background-position: -370px 0;
  width: 187px;
}
/* line 96, ../sass/public.sass */
#nav a.question {
  background-position: -560px 0;
  width: 80px;
}

/* line 100, ../sass/public.sass */
#slogan {
  position: fixed;
  display: block;
  z-index: 2;
  top: 70px;
  left: 570px;
  background-image: url("../img/slogan.png");
  background-size: 100%;
  width: 713px;
  height: 173px;
  background-repeat: no-repeat;
}

/* line 113, ../sass/public.sass */
#video {
  position: fixed;
  display: block;
  z-index: 3;
  top: 238px;
  left: 520px;
}

/* line 120, ../sass/public.sass */
.ghost {
  position: fixed;
  display: block;
  left: 1225px;
  top: 60px;
  z-index: 4;
}

/* line 127, ../sass/public.sass */
.pic1 {
  position: fixed;
  display: block;
  left: 1255px;
  top: 30px;
  z-index: 4;
}
@media only screen and (max-width: 1600px) {
  /* line 134, ../sass/public.sass */
  .pic1 img {
    width: 450px;
    height: auto;
  }
}

/* line 138, ../sass/public.sass */
.pic2 {
  position: fixed;
  display: block;
  left: 1475px;
  top: -10px;
  z-index: 3;
}

/* line 145, ../sass/public.sass */
.pic3 {
  position: fixed;
  display: block;
  left: -20px;
  top: 180px;
  z-index: 3;
}

/* line 152, ../sass/public.sass */
.pic4 {
  position: fixed;
  display: block;
  left: 175px;
  top: 0;
  z-index: 2;
}

/* line 159, ../sass/public.sass */
.pic5 {
  position: fixed;
  display: block;
  z-index: 999;
  top: 703px;
  left: 545px;
}
