@charset "UTF-8";
/*字型 */
/*input */
/* line 3, ../sass/st-basic.sass */
*, *:after, *:before {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 53, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::-moz-selection, *:after::-moz-selection, *:before::-moz-selection {
  color: white;
  background-color: #96c8ff;
}
/* line 53, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::selection, *:after::selection, *:before::selection {
  color: white;
  background-color: #96c8ff;
}

/* line 10, ../sass/st-basic.sass */
body {
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* line 15, ../sass/st-basic.sass */
ul, li {
  list-style-type: none;
}

/* line 18, ../sass/st-basic.sass */
a {
  text-decoration: none;
}

/* line 61, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-moz-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 64, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-moz-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 67, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-ms-input-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
/* line 56, ../../fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-webkit-input-placeholder {
  color: #bfbfbf;
  font-style: italic;
}
